<div style="text-align: center;">
  <h1>Photo Gallery</h1>
  <app-photoalbum></app-photoalbum>
  </div>
  <div class="image1">
    <img src="/assets/Marissa.jpg" alt="image" height="150" width="300">
  </div>
  <div class="image2">
    <img src="/assets/Jeff.jpg" alt="image" height="150" width="300">
  </div>
  <div class="image3">
    <img src="/assets/Mark.jpg" alt="image" height="420" width="400">
  </div>
  <div class="image4">
    <img src="/assets/satya.jpg" alt="image" height="250" width="610">
  </div>
  <div class="image5">
    <img src="/assets/sundhar.jpg" alt="image" height="300" width="610">
  </div>
  <div class="image6">
    <img src="/assets/Tim.jpg" alt="image" height="305" width="400">
  </div>