h1
{
text-align: left;
color: white;
background-color: red;
width: 75%;
margin: 2%;
}
.image1
{
    display:flex;
    margin-left: 15%;
  
}
.image2
{
    display:flex;
    margin-left: 31.5%;
    margin-top: -8%;
}
.image3
{
    display:flex;
    margin-left: 48%;
    margin-top: -8%;
}
.image4
{
    display:flex;
    margin-left: 15%;
    margin-top: -13.5%;
}
.image5
{
    display:flex;
    margin-left: 15%;
    margin-top: 1%;
}
.image6
{
    display:flex;
    margin-left: 48%;
    margin-top: -16%;
}